<h1>Listing admins</h1>

<table class='table table-hover table-striped'>
  <thead>
    <tr>
      <th> Name </th>
      <th> Email </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @admins.each do |admin| %>
    <tr id='<%= element_id(admin) -%>'>
      <td><%= link_to admin.name, edit_admin_path(admin) %></td>
      <td><%= admin.email %></td>
      <td>
        <% if current_admin.id == admin.id -%>
          &nbsp;
        <% else -%>
          <%= link_to 'Destroy', admin, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        <% end -%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% content_for :actions do -%>
  <li><%= link_to 'New Admin', new_admin_path %></li>
<% end -%>
