<%= simple_form_for(concert, :html => { :class => 'form-horizontal'} ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :wrapper => :prepend do %>
      <%= content_tag(:span, 'N', :class => 'add-on') %>
      <%= f.input_field :name %>
    <% end -%>

    <%= f.input :date, :wrapper => :prepend, :label => 'Event Date' do %>
      <%= content_tag(:span, icon(:calendar), :class => 'add-on') %>
      <%= f.input_field :date, 'data-behaviour' => 'datepicker' %>
    <% end -%>

    <% collection = ConcertSeries.all.map{ |series| [ series.name, series.id ] } %>
    <%= f.input :concert_series, :prompt => 'Please select a Concert Series', :wrapper => :prepend do %>
      <%= content_tag(:span, icon(:music), :class => 'add-on') %>
      <%= f.input_field :concert_series, :collection => collection %>
    <% end -%>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
