<h1>Editing <%= @subscriber.full_name %></h1>

<%= render 'form', :subscriber => @subscriber %>

<%= link_to 'Show', @subscriber %> |
<%= link_to 'Destroy', @subscriber, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
<%= link_to 'Back', subscribers_path %>
