<h1>Listing subscribers</h1>

<%= link_to 'New Subscriber', new_subscriber_path %>

<br />

<%= simple_form_for(@subscriber, :html => { :method => :get, :action => subscribers_path, :id => 'search-subscribers' } ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value => 'Search' %>
  </div>
<% end %>

<table class='table table-hover table-striped'>
  <thead>
    <tr>
      <th> Name </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @subscribers.each do |subscriber| %>
    <tr id='<%= element_id(subscriber) -%>'>
      <td><%= link_to subscriber.full_name, edit_subscriber_path(subscriber) %></td>
      <td><%= link_to 'Destroy', subscriber, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= paginate @subscribers %>
